{% extends "page.html" %}

{% block page_css %}
  <link rel="stylesheet" href="{{ '/css/download-all.css'|asseturl }}">
{% endblock %}

{% block content %}
  <section class="video">
    <div class="embed-responsive embed-responsive-16by9 mt-2">
      <video class="embed-responsive-item" controls>
        <source src="{{ 'FreedomBoxSetuplVideo2018.webm'|asseturl }}"
                type='video/webm;codecs="vp9, vorbis"'/>
        <source src="{{ 'FreedomBoxSetuplVideo2018.mp4'|asseturl }}"
                type='video/mp4"'/>
        <p>
          {% trans trimmed url='FreedomBoxSetuplVideo2018.webm'|asseturl %}
            <a href="{{ url }}">Download</a> a video on how to set up a
            FreedomBox.
          {% endtrans %}
        </p>
      </video>
    </div>
  </section>

  <section>
    <p>
      {% trans trimmed %}
        See <a href="https://wiki.debian.org/FreedomBox/Download">further
        instructions</a> on how to build your own FreedomBox by downloading and
        setting up on your hardware of choice.
      {% endtrans %}
    </p>
    <p>
      {% trans trimmed %}
        The FreedomBox operating system is compatible with
        <a href="https://wiki.debian.org/FreedomBox/Hardware/Debian">any
        hardware that Debian is compatible with</a>, but we also target our
        system for specific models of single-board computers for ease of setup
        and consistent experience. Single-board computers are affordable,
        increasingly fast, and power-efficient, which makes them great hardware
        for FreedomBox. You can download Stable and Testing versions of
        FreedomBox for the hardware models listed below.
      {% endtrans %}
    </p>

    <div class="board-listing">
      {% for board in this.pagination.items %}
        <a href="{{ ('/download/' + board._id + '/')|url }}">
          <div class="card">
            <div class="img-container">
              <img src="{{ '/images/' + board.image }}"
                   class="img-fluid card-img-top"
                   alt="{{ _("Image of %(board_name)s")|format(board_name=board.name) }}">
            </div>
            <div class="card-footer">{{ board.name }}</div>
          </div>
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}
